<div class="wrapper">
    <h1>Portfolio</h1>
    <div class="float-parent">
        <figure class="float-child">
            <img src="img/portfolio-danny-logo.png" alt="Danny Logo Project"> 
            <figcaption>Danny.Design Logo Project</figcaption>
        </figure>
        <figure class="float-child">
            <img src="img/portfolio-phothi-logo.png" alt="Pho Thi Fusion Logo Project"> 
            <figcaption>Pho Thi Fusion Logo Project</figcaption>
        </figure>
        <figure class="float-child">
            <img src="img/portfolio-serene-logo.png" alt="Serene Logo Project"> 
            <figcaption>Serene Logo Project</figcaption>
        </figure>
        <figure class="float-child">
            <img src="img/portfolio-motion-video.png" alt="Motion Graphic Project"> 
            <figcaption>Motion Graphic Project</figcaption>
        </figure>
        <figure class="float-child">
            <img src="img/portfolio-barbie.png" alt="Barbie Evolution Project"> 
            <figcaption>Barbie Evolution Project</figcaption>
        </figure>
        <figure class="float-child">
            <img src="img/portfolio-danny-website.png" alt="Danny Website Project"> 
            <figcaption>Danny Website Project</figcaption>
        </figure>
    </div>
</div>